<div class="fitted item">
    {{ui-checkbox label="Auto refresh every" checked=autoRefresh onChange=(action 'updateAutoRefresh')}}
</div>
<div class="item">
    <div class="ui right labeled input">
        <input type="text" class="small-width" value={{autoRefreshMinutes}} oninput={{action 'taskRefresh' value="target.value"}} maxlength="2">
        <div class="ui label">
            minutes
        </div>
    </div>
</div>