<div class="{{if (media 'isDesktop') 'six' 'sixteen'}} wide column">
    {{sui-message class="no-border" error=true icon="warning" title="Access Denied" detail="You do not have permission to access this page."}}
</div>