{{#modal-dialog onClose='toggleAreYouSureModal'
                translucentOverlay=true
                containerClassNames=(concat 'width-40 ' (media 'classNames'))}}
    <div class="ui fluid card">
        <div class="content">
            <div class="header">
                {{@header}}
            </div>
            <div class="meta">
                {{{@description}}}
            </div>
        </div>
        <div class="extra content">
            {{#sui-menu class=(concat (if (media 'isMobile') 'fluid vertical ') 'fitted small borderless secondary')}}
                <div class="right menu">
                    <div class="item">
                        <SuiButton class="red labeled icon fluid" onClick={{@toggleAction}} @text="NO" @icon="thumbs down" />
                    </div>
                    <div class="item">
                        <SuiButton class="green labeled icon fluid {{if @loading 'loading'}}" onClick={{@yesAction}} @text="YES" @icon="thumbs up" />
                    </div>
                </div>
            {{/sui-menu}}
        </div>
    </div>
{{/modal-dialog}}