{{#modal-dialog
    onClose=(action @noAction)
    translucentOverlay=true}}
    <div class="ui fluid card">
        <div class="content">
            <div class="header">
                {{@header}}
            </div>
            <div class="description">
                {{@content}}
            </div>
        </div>
        <div class="right aligned extra content">
            {{sui-button class="small labeled red icon" onClick=(action @noAction) text="NO" icon="times"}}
            {{sui-button class="small labeled green icon" onClick=(action @yesAction) text="YES" icon="thumbs up" loading=@yesButtonLoading}}
        </div>
    </div>
{{/modal-dialog}}