<div class="ui stackable three column grid">
    <div class="six wide column">
        {{#sui-segment class="basic light"}}
            {{sui-header class="primary dividing" tagName="h4" header="SEARCH"}}
            {{#sui-form class="small"}}
                {{#sui-form-field }}
                    <div class="ui fluid icon input">
                        {{input value=@filterText key-press=(action 'filterTextChanged') placeholder="Search..."}}
                        {{#if @filterText}}
                            <i class="times circle icon" {{action 'filterTextChanged' ''}}></i>
                        {{else}}
                            <i class="search icon"></i>
                        {{/if}}
                    </div>
                {{/sui-form-field}}
            {{/sui-form}}
        {{/sui-segment}}
        {{#ui-accordion class="ui basic light segment highlight-on-hover"}}
            <div class="title" {{action 'addNote'}}>
                <div class="ui grid">
                    <div class="ten wide column">
                        {{sui-header class="primary" tagName="h4" header="ADD NOTE"}}
                    </div>
                    <div class="six wide right aligned column">
                        {{sui-icon class="primary" name=(if @showAddNote 'minus' 'plus')}}
                    </div>
                </div>
            </div>
            <div class="content">
                {{#sui-form class="small equal width"}}
                    <div class="ui stackable grid">
                        <div class="sixteen wide column">
                            {{#sui-form-field label="Text" errors=newNote.errors.notes}}
                                {{textarea value=newNote.notes rows="3"}}
                            {{/sui-form-field}}
                        </div>
                        <div class="eight wide column">
                            {{#sui-form-field label="Action required"}}
                                <Checkbox @checked={{newNoteActionRequired}}
                                        @onChange={{action (mut newNoteActionRequired)}} />
                            {{/sui-form-field}}
                        </div>
                        {{#if newNoteActionRequired}}
                            <div class="eight wide column">
                                {{#sui-form-field label="Action required by" errors=newNote.actionRequiredDate.errors.startDate}}
                                    <div class="ui small fluid icon input">
                                        {{ember-flatpickr
                                                date=(readonly newNote.actionRequiredDate)
                                                dateFormat=actionRequiredByDatepickerOptions.format
                                                defaultDate=actionRequiredByDatepickerOptions.minDate
                                                maxDate=actionRequiredByDatepickerOptions.maxDate
                                                minDate=actionRequiredByDatepickerOptions.minDate
                                                onChange=(action (mut newNote.actionRequiredDate))
                                                placeholder='Choose a Date'
                                        }}
                                        {{sui-icon name="calendar alternate"}}
                                    </div>
                                {{/sui-form-field}}
                            </div>
                        {{/if}}
                        <div class="right aligned sixteen wide column">
                            {{sui-button class="red mini labeled icon" text="CLEAR" icon="undo" click=(action 'clearNote')}}
                            {{sui-button class="green mini labeled icon" text="SAVE" icon="save" click=(action 'saveNote') loading=taskSaveNote.isRunning disabled=(not newNote.notes)}}
                        </div>
                    </div>
                {{/sui-form}}
            </div>
        {{/ui-accordion}}
    </div>
    <div class="ten wide column">
        {{#sui-segment class="basic max-1000 scrollable"}}
            {{#unless (media 'isDesktop')}}
                <h5>Showing {{filteredNotes.length}} note{{if (gt filteredNotes.length 1) 's'}}</h5>
            {{/unless}}
            {{#each filteredNotes as |note|}}
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            {{note.operator}}
                        </div>
                        <div class="meta">
                            {{mysql-to-uk-date-time note.notesDateTime}}
                        </div>
                        <div class="description">
                            {{note.notes}}
                        </div>
                    </div>
                    {{#if (eq note.actionRequired 'y')}}
                        <div class="red extra content">
                            <strong>Action required by {{moment-format (get note.actionRequiredDate '0') 'DD/MM/YYYY'}}</strong>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        {{/sui-segment}}
    </div>
</div>