{{#ui-modal name="confirmation-modal" class="confirmation-modal tiny" inverted=true}}
    <div class="header">
        {{@header}}
    </div>
    {{#if @content}}
        <div class="content">
            {{@content}}
        </div>
    {{/if}}
    <div class="actions">
        {{#if @negativeAction}}
            {{sui-button class="negative labeled icon" icon=(if @negativeIcon @negativeIcon "times") text=(if @negativeText "No") click=(action @negativeAction)}}
        {{/if}}
        {{#if @intermediateAction}}
            {{sui-button class="yellow labeled icon" icon=@intermediateIcon text=@intermediateText click=(action @intermediateAction)}}
        {{/if}}
        {{#if @positiveAction}}
            {{sui-button class="positive labeled icon" icon=(if @positiveIcon @positiveIcon "check") text=(if @positiveText @positiveText "Yes") click=(action @positiveAction)}}
        {{/if}}
    </div>
{{/ui-modal}}