{{#if @label}}
    <label class="{{if @labelColour @labelColour ''}} text">{{@label}} {{#if @info}}{{sui-help-icon html=@info}}{{/if}}</label>
{{/if}}
{{yield}}
{{#if @errors}}
    {{sui-message class="red" items=@errors}}
{{/if}}
{{#if @errorMessages}}
    {{sui-message class="red" items=@errorMessages}}
{{/if}}