{{#if (media 'isDesktop')}}
    <div class="ui unstackable grid">
        <div class="right aligned sixteen wide column">
            {{sui-button class="mini yellow labeled icon" loading=filteringLoader icon="filter" text="APPLY FILTER" click=(action 'filterResults')}}
        </div>
    </div>
{{else if (media 'isTablet')}}
    <div class="ui grid">
        <div class="centered eight wide column">
            {{sui-button class="fluid yellow labeled icon" loading=filteringLoader icon="filter" text="APPLY FILTER" click=(action 'filterResults')}}
        </div>
    </div>
{{else}}
    <div class="ui one column grid">
        <div class="column">
            {{sui-button class="fluid yellow labeled icon" loading=filteringLoader icon="filter" text="APPLY FILTER" click=(action 'filterResults')}}
        </div>
    </div>
{{/if}}