{{#if @idAttr}}
    <input id={{@idAttr}} type="checkbox" checked={{@checked}} onclick={{action @update}}>
    <label for={{@idAttr}}>{{@label}}</label>
{{else}}
    <input type="checkbox" checked={{@checked}} onclick={{action @update}}>
    <label>{{@label}}</label>
{{/if}}