<div class="no-top-padding sixteen wide column">
    {{#sui-segment class="small no-padding basic"}}
        {{#sui-form class="small"}}
            {{#if (media 'isDesktop')}}
                <div class="ui unstackable padded one column grid">
                    {{#if (or containerConfig.showPagination containerConfig.showDisplayedRows)}}
                        <div class="column">
                            {{#sui-segment basic=(if noTopSegment true) colour=(unless noTopSegment 'primary') class="small light"}}
                                <div class="ui equal width stackable grid">
                                    <div class="middle aligned row">
                                        {{#if containerConfig.showPagination}}
                                            <div class="{{unless containerConfig.paginationAlignment 'left aligned' containerConfig.paginationAlignment}} column">
                                                {{sui-pagination-menu class="mini" links=paginationLinks
                                                                      infoText=rowInfoText
                                                                      updatePaginationParams=updatePaginationParams}}
                                            </div>
                                        {{/if}}
                                        {{#if containerConfig.showRowInfo}}
                                            <div class="column">
                                                {{sui-header class="primary" header=rowInfoText}}
                                            </div>
                                        {{/if}}
                                        {{#if containerConfig.showTextFilter}}
                                            <div class="column">
                                                {{#sui-form-field }}
                                                    <div class="ui fluid icon input">
                                                        <input value={{filterText}} oninput={{action 'filterTextChanged' value="target.value"}} placeholder="Search...">
                                                        {{#if filterText}}
                                                            <i class="times circle icon" {{action 'filterTextChanged' ''}}></i>
                                                        {{else}}
                                                            <i class="search icon"></i>
                                                        {{/if}}
                                                    </div>
                                                {{/sui-form-field}}
                                            </div>
                                            {{#if containerConfig.showSearchCheckbox}}
                                                <div class="column">
                                                    {{#sui-form-field class=(unless filterText 'disabled')}}
                                                      <Checkbox @label="within selected date range only"
                                                                @checked={{searchWithinDateRange}}
                                                                @onChange={{action (mut searchWithinDateRange)}} />
                                                    {{/sui-form-field}}
                                                </div>
                                            {{/if}}
                                        {{/if}}
                                        {{#if containerConfig.showDisplayedRows}}
                                            <div class="right aligned column">
                                                {{#sui-form-field class="inline"}}
                                                    <label>Show: </label>
                                                    {{#ui-dropdown class="selection very-small-width" selected=limit onChange=(action (mut limit))}}
                                                        <div class="default text">10</div>
                                                        <i class="dropdown icon"></i>
                                                        <div class="menu">
                                                            {{#each dropdownDisplayedRows.options as |option|}}
                                                                <div data-value="{{option.value}}" data-text="{{option.text}}" class="item">
                                                                    {{option.text}}
                                                                </div>
                                                            {{/each}}
                                                        </div>
                                                    {{/ui-dropdown}}
                                                {{/sui-form-field}}
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/sui-segment}}
                        </div>
                    {{/if}}
                    {{#if loading}}
                        <div class="column">
                            {{sui-segment class="basic loading"}}
                        </div>
                    {{/if}}
                    {{#if content}}
                        <div class="column">
                            <div class="ui equal width unstackable padded grid">
                                <div class="row">
                                    <table class="ui {{tableClasses}} table">
                                        <thead>
                                        <tr>
                                            {{#each attributes as |attribute|}}
                                                {{#unless attribute.hidden}}
                                                    {{#if attribute.sortable}}
                                                        <th {{action 'sortCaret' attribute.name}} class="sortable {{if attribute.width attribute.width ''}} {{if attribute.alignment attribute.alignment ''}}">
                                                            {{attribute.heading}}
                                                            {{#if (eq sortColumn attribute.name)}}
                                                                <i class="caret {{if (eq sortDirection 'desc') 'down' 'up'}} icon"></i>
                                                            {{/if}}
                                                            {{#if attribute.info}}
                                                                {{sui-help-icon html=attribute.info}}
                                                            {{/if}}
                                                        </th>
                                                    {{else}}
                                                        <th class="{{if attribute.width attribute.width ''}} {{if attribute.alignment attribute.alignment ''}} not-clickable">
                                                            {{attribute.heading}}
                                                            {{#if attribute.info}}
                                                                {{sui-help-icon html=attribute.info}}
                                                            {{/if}}
                                                        </th>
                                                    {{/if}}
                                                {{/unless}}
                                            {{/each}}
                                            {{#if (has-block)}}
                                                <th class="not-clickable">
                                                    ACTIONS
                                                </th>
                                            {{/if}}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#unless content}}
                                            <tr>
                                                <td>No data</td>
                                            </tr>
                                        {{/unless}}
                                        {{#each content as |row|}}
                                            <tr class="{{get row 'rowHighlight'}}" onclick={{unless (has-block) (action 'rowClicked' row)}}>
                                                {{#each attributes as |attribute|}}
                                                    {{#unless attribute.hidden}}
                                                        <td class="{{if attribute.alignment attribute.alignment ''}} {{get row 'columnHighlight'}}">
                                                            {{#if attribute.labeled}}
                                                                {{#if attribute.labelColourAttribute}}
                                                                    {{sui-label class="basic" text=(get row attribute.name) colour=(get row attribute.labelColourAttribute)}}
                                                                {{else}}
                                                                    {{sui-label class="basic" text=(get row attribute.name) colour=attribute.labelColour}}
                                                                {{/if}}
                                                            {{else if attribute.html}}
                                                                {{#if (eq attribute.type 'datetime')}}
                                                                    {{{mysql-to-uk-date-time (get row attribute.name)}}}
                                                                {{else if (eq attribute.type 'date')}}
                                                                    {{{mysql-to-uk-date (get row attribute.name)}}}
                                                                {{else}}
                                                                    {{{get row attribute.name}}}
                                                                {{/if}}
                                                            {{else if attribute.icon}}
                                                                {{sui-icon class="big" name=(get row attribute.name)}}
                                                            {{else}}
                                                                {{#if (eq attribute.type 'datetime')}}
                                                                    {{mysql-to-uk-date-time (get row attribute.name)}}
                                                                {{else if (eq attribute.type 'date')}}
                                                                    {{mysql-to-uk-date (get row attribute.name)}}
                                                                {{else}}
                                                                    {{get row attribute.name}}
                                                                {{/if}}
                                                            {{/if}}
                                                        </td>
                                                    {{/unless}}
                                                {{/each}}
                                                {{#if (has-block)}}
                                                    <td>
                                                        {{yield row}}
                                                    </td>
                                                {{/if}}
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {{#if showBackToTop}}
                            <div class="center aligned column">
                                {{sui-button class="labeled icon" text="BACK TO TOP" icon="arrow up" onClick=(action "backToTop")}}
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            {{else if (media 'isTablet')}}
                <div class="ui unstackable padded one column grid">
                    {{#if (or containerConfig.showPagination containerConfig.showDisplayedRows)}}
                        <div class="column">
                            {{#sui-segment class="basic light"}}
                                <div class="ui stackable grid">
                                    <div class="eight wide middle aligned column">
                                        {{#if containerConfig.showPagination}}
                                            <div class="{{unless containerConfig.paginationAlignment 'left aligned' containerConfig.paginationAlignment}} column">
                                                {{sui-pagination-menu class="mini" links=paginationLinks
                                                                      infoText=rowInfoText
                                                                      updatePaginationParams=updatePaginationParams}}
                                            </div>
                                        {{/if}}
                                        {{#if containerConfig.showRowInfo}}
                                            <div class="column">
                                                {{sui-header class="primary" header=rowInfoText}}
                                            </div>
                                        {{/if}}
                                    </div>
                                    {{#if containerConfig.showDisplayedRows}}
                                        <div class="eight wide column">
                                            {{#ui-dropdown class="compact selection" selected=limit onChange=(action (mut limit))}}
                                                <div class="default text">10</div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    {{#each dropdownDisplayedRows.options as |option|}}
                                                        <div data-value="{{option.value}}" data-text="{{option.text}}" class="item">
                                                            {{option.text}}
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            {{/ui-dropdown}}
                                        </div>
                                    {{/if}}
                                    {{#if containerConfig.showTextFilter}}
                                        <div class="eight wide column">
                                            <div class="ui fluid icon input">
                                                <input value={{filterText}} oninput={{action 'filterTextChanged' value="target.value"}} placeholder="Search...">
                                                {{#if filterText}}
                                                    <i class="times circle icon" {{action 'filterTextChanged' ''}}></i>
                                                {{else}}
                                                    <i class="search icon"></i>
                                                {{/if}}
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if containerConfig.showSearchCheckbox}}
                                        <div class="eight wide column">
                                            {{#sui-form-field class=(unless filterText 'disabled')}}
                                              <Checkbox @label="search within selected date range only"
                                                        @checked={{searchWithinDateRange}}
                                                        @onChange={{action (mut searchWithinDateRange)}} />
                                            {{/sui-form-field}}
                                        </div>
                                    {{/if}}
                                </div>
                            {{/sui-segment}}
                        </div>
                    {{/if}}
                    {{#if loading}}
                        <div class="column">
                            {{sui-segment class="basic loading"}}
                        </div>
                    {{/if}}
                    {{#if content}}
                        <div class="column">
                            <div class="ui two column stackable grid">
                                {{#each content as |row|}}
                                    <div class="column">
                                        <table class="ui primary small very compact relaxed attached unstackable definition fixed table">
                                            <tbody>
                                            {{#each attributes as |attribute|}}
                                                <tr>
                                                    {{#unless attribute.hidden}}
                                                        <td>
                                                            {{attribute.heading}}
                                                        </td>
                                                        <td>
                                                            {{#if attribute.labeled}}
                                                                {{#if attribute.labelColourAttribute}}
                                                                    {{sui-label class="basic" text=(get row attribute.name) colour=(get row attribute.labelColourAttribute)}}
                                                                {{else}}
                                                                    {{sui-label class="basic" text=(get row attribute.name) colour=attribute.labelColour}}
                                                                {{/if}}
                                                            {{else if attribute.html}}
                                                                {{#if (eq attribute.type 'datetime')}}
                                                                    {{{mysql-to-uk-date-time (get row attribute.name)}}}
                                                                {{else}}
                                                                    {{{get row attribute.name}}}
                                                                {{/if}}
                                                            {{else if attribute.icon}}
                                                                {{sui-icon class="big" name=(get row attribute.name)}}
                                                            {{else}}
                                                                {{#if (eq attribute.type 'datetime')}}
                                                                    {{mysql-to-uk-date-time (get row attribute.name)}}
                                                                {{else}}
                                                                    {{get row attribute.name}}
                                                                {{/if}}
                                                            {{/if}}
                                                        </td>
                                                    {{/unless}}
                                                </tr>
                                            {{/each}}
                                            {{#if (has-block)}}
                                                <tr>
                                                    <td colspan="2">
                                                        {{yield row}}
                                                    </td>
                                                </tr>
                                            {{/if}}
                                            </tbody>
                                        </table>
                                        {{#if (and this.selectable (not (has-block)))}}
                                            {{sui-button class="primary bottom attached" text="VIEW" icon="eye" onClick=(action 'rowClicked' row)}}
                                        {{/if}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        {{#if showBackToTop}}
                            <div class="center aligned column">
                                {{sui-button class="labeled icon" text="BACK TO TOP" icon="arrow up" onClick=(action "backToTop")}}
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            {{else}}
                <div class="ui unstackable one column grid">
                    {{#if (or containerConfig.showPagination containerConfig.showDisplayedRows)}}
                        <div class="column">
                            {{#sui-segment class="basic light"}}
                                <div class="ui grid">
                                    <div class="sixteen wide center aligned column">
                                        {{#if containerConfig.showPagination}}
                                            <div class="{{unless containerConfig.paginationAlignment 'left aligned' containerConfig.paginationAlignment}} column">
                                                {{sui-pagination-menu class="mini" links=paginationLinks
                                                                      infoText=rowInfoText
                                                                      updatePaginationParams=updatePaginationParams}}
                                            </div>
                                        {{/if}}
                                        {{#if containerConfig.showRowInfo}}
                                            <div class="column">
                                                {{sui-header class="primary" header=rowInfoText}}
                                            </div>
                                        {{/if}}
                                    </div>
                                    {{#if containerConfig.showDisplayedRows}}
                                        <div class="four wide right aligned column">
                                            {{#ui-dropdown class="compact selection" selected=limit onChange=(action (mut limit))}}
                                                <div class="default text">10</div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    {{#each dropdownDisplayedRows.options as |option|}}
                                                        <div data-value="{{option.value}}" data-text="{{option.text}}" class="item">
                                                            {{option.text}}
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            {{/ui-dropdown}}
                                        </div>
                                    {{/if}}
                                    {{#if containerConfig.showTextFilter}}
                                        <div class="twelve wide column">
                                            <div class="ui fluid icon input">
                                                <input value={{filterText}} oninput={{action 'filterTextChanged' value="target.value"}} placeholder="Search...">
                                                {{#if filterText}}
                                                    <i class="times circle icon" {{action 'filterTextChanged' ''}}></i>
                                                {{else}}
                                                    <i class="search icon"></i>
                                                {{/if}}
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if containerConfig.showSearchCheckbox}}
                                        <div class="sixteen wide column">
                                            {{#sui-form-field class=(unless filterText 'disabled')}}
                                              <Checkbox @label="search within selected date range only"
                                                        @checked={{searchWithinDateRange}}
                                                        @onChange={{action (mut searchWithinDateRange)}} />
                                            {{/sui-form-field}}
                                        </div>
                                    {{/if}}
                                </div>
                            {{/sui-segment}}
                        </div>
                    {{/if}}
                    {{#if loading}}
                        <div class="column">
                            {{sui-segment class="basic loading"}}
                        </div>
                    {{/if}}
                    {{#if content}}
                        <div class="column">
                            <div class="ui one column unstackable grid">
                                {{#each content as |row|}}
                                    <div class="column">
                                        <table class="ui primary small very compact relaxed attached unstackable definition fixed table">
                                            <tbody>
                                            {{#each attributes as |attribute|}}
                                                <tr>
                                                    {{#unless attribute.hidden}}
                                                        <td>
                                                            {{attribute.heading}}
                                                        </td>
                                                        <td>
                                                            {{#if attribute.labeled}}
                                                                {{#if attribute.labelColourAttribute}}
                                                                    {{sui-label class="basic" text=(get row attribute.name) colour=(get row attribute.labelColourAttribute)}}
                                                                {{else}}
                                                                    {{sui-label class="basic" text=(get row attribute.name) colour=attribute.labelColour}}
                                                                {{/if}}
                                                            {{else if attribute.html}}
                                                                {{#if (eq attribute.type 'datetime')}}
                                                                    {{{mysql-to-uk-date-time (get row attribute.name)}}}
                                                                {{else}}
                                                                    {{{get row attribute.name}}}
                                                                {{/if}}
                                                            {{else if attribute.icon}}
                                                                {{sui-icon class="big" name=(get row attribute.name)}}
                                                            {{else}}
                                                                {{#if (eq attribute.type 'datetime')}}
                                                                    {{mysql-to-uk-date-time (get row attribute.name)}}
                                                                {{else}}
                                                                    {{get row attribute.name}}
                                                                {{/if}}
                                                            {{/if}}
                                                        </td>
                                                    {{/unless}}
                                                </tr>
                                            {{/each}}
                                            {{#if (has-block)}}
                                                <tr>
                                                    <td colspan="2">
                                                        {{yield row}}
                                                    </td>
                                                </tr>
                                            {{/if}}
                                            </tbody>
                                        </table>
                                        {{#if (and this.selectable (not (has-block)))}}
                                            {{sui-button class="primary bottom attached" text="VIEW" icon="eye" onClick=(action 'rowClicked' row)}}
                                        {{/if}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        {{#if showBackToTop}}
                            <div class="center aligned column">
                                {{sui-button class="labeled icon" text="BACK TO TOP" icon="arrow up" onClick=(action "backToTop")}}
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            {{/if}}
        {{/sui-form}}
    {{/sui-segment}}
</div>
{{#unless content}}
    {{#unless loading}}
        <div class="sixteen wide center aligned column">
            {{#if this.filterText}}
                <strong>No search results were returned</strong>
            {{else}}
                <strong>No data available</strong>
            {{/if}}
        </div>
    {{/unless}}
{{/unless}}
