{{#if (media 'isDesktop')}}
    {{#sui-menu class="secondary mini stackable"}}
        {{#if hasFilters}}
            <div class="item">
                {{sui-button class="mini yellow labeled icon" icon="filter" text=(if showFilters 'HIDE FILTERS' 'SHOW FILTERS') onClick=(action "showHideFilters")}}
            </div>
            <div class="fitted header item">
                <p>{{filteredByText}}</p>
            </div>
            <div class="fitted header item">
                <strong class="primary text">&nbsp;{{uppercase currentFilterText}}</strong>
            </div>
        {{/if}}
        {{#if @hasFilterCheckbox}}
            <div class="item">
                <SuiFormField>
                  <Checkbox @label={{@filterCheckboxLabel}}
                            @checked={{@filterCheckboxVariable}}
                            @onChange={{action @filterCheckboxAction}} />
                </SuiFormField>
            </div>
        {{/if}}
        <div class="right menu">
            {{#if hasDatePickers}}
                <div class="item">
                    <div class="ui labeled icon input">
                        <div class="ui icon label">
                            FROM
                        </div>
                        {{ember-flatpickr
                                date=(readonly fromDate)
                                dateFormat=createdFromDatepickerOptions.format
                                defaultDate=fromDate
                                maxDate=createdFromDatepickerOptions.maxDate
                                minDate=createdFromDatepickerOptions.minDate
                                onChange=(action 'changeFromDate')
                                placeholder='Choose a Date'
                        }}
                        {{sui-icon name="calendar alternate"}}
                    </div>
                </div>
                <div class="item">
                    <div class="ui labeled icon input">
                        <div class="ui icon label">
                            TO
                        </div>
                        {{ember-flatpickr
                                date=(readonly toDate)
                                dateFormat=createdToDatepickerOptions.format
                                defaultDate=toDate
                                maxDate=createdToDatepickerOptions.maxDate
                                minDate=createdToDatepickerOptions.minDate
                                onChange=(action 'changeToDate')
                                placeholder='Choose a Date'
                        }}
                        {{sui-icon name="calendar alternate"}}
                    </div>
                </div>
            {{/if}}
            {{#if requestReport}}
                <div class="item">
                    {{sui-button class="mini labeled icon" icon="history" text="REQUEST CSV REPORT" onClick=(action "requestCsvReport")}}
                </div>
            {{/if}}
            <div class="item">
                <button {{action 'refresh'}} type="button" class="ui mini fluid labeled icon button {{if refreshingLoader 'loading'}}">
                    <i class="refresh icon" />
                    REFRESH LIST
                </button>
            </div>
            {{#if filtered}}
                <div class="item">
                    <button {{action 'resetFilters'}} type="button" class="ui mini fluid red labeled icon button {{if resettingLoader 'loading'}}">
                        <i class="undo icon" />
                        RESET TO DEFAULT
                    </button>
                </div>
            {{/if}}
            {{#if actionNew}}
                <div class="item">
                    {{sui-button class="mini green labeled icon" icon="plus" text="NEW" onClick=(action actionNew)}}
                </div>
            {{/if}}
        </div>
    {{/sui-menu}}
{{else if (media 'isTablet')}}
    <div class="ui stackable padded grid">
        <div class="eight wide column">
            <button {{action 'refresh'}} type="button" class="ui fluid labeled icon button {{if refreshingLoader 'loading'}}">
                <i class="refresh icon" />
                REFRESH LIST
            </button>
        </div>
        {{#if filtered}}
            <div class="eight wide column">
                <button {{action 'resetFilters'}} type="button" class="ui fluid red labeled icon button {{if resettingLoader 'loading'}}">
                    <i class="undo icon" />
                    RESET TO DEFAULT
                </button>
            </div>
        {{/if}}
        {{#if requestReport}}
            <div class="eight wide column">
                {{sui-button class="fluid labeled icon" icon="history" text="REQUEST CSV REPORT" onClick=(action "requestCsvReport")}}
            </div>
        {{/if}}
        {{#if hasDatePickers}}
            <div class="row">
                <div class="eight wide column">
                    <div class="ui fluid labeled icon input">
                        <div class="ui icon label">
                            FROM
                        </div>
                        {{ember-flatpickr
                                date=(readonly fromDate)
                                dateFormat=createdFromDatepickerOptions.format
                                defaultDate=fromDate
                                maxDate=createdFromDatepickerOptions.maxDate
                                minDate=createdFromDatepickerOptions.minDate
                                onChange=(action 'changeFromDate')
                                placeholder='Choose a Date'
                        }}
                        {{sui-icon name=(if fromDateLoader 'notched circle loading' 'calendar alternate')}}
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui fluid labeled icon input">
                        <div class="ui icon label">
                            TO
                        </div>
                        {{ember-flatpickr
                                date=(readonly toDate)
                                dateFormat=createdToDatepickerOptions.format
                                defaultDate=toDate
                                maxDate=createdToDatepickerOptions.maxDate
                                minDate=createdToDatepickerOptions.minDate
                                onChange=(action 'changeToDate')
                                placeholder='Choose a Date'
                        }}
                        {{sui-icon name=(if toDateLoader 'notched circle loading' 'calendar alternate')}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
{{else}}
    <div class="ui no-top-padding grid">
        <div class="sixteen wide column">
            <div class="ui grid">
                {{#if requestReport}}
                    <div class="sixteen wide column">
                        {{sui-button class="fluid labeled icon" icon="history" text="REQUEST CSV REPORT" onClick=(action "requestCsvReport")}}
                    </div>
                {{/if}}
                <div class="sixteen wide column">
                    <button {{action 'refresh'}} type="button" class="ui fluid labeled icon button {{if refreshingLoader 'loading'}}">
                        <i class="refresh icon" />
                        REFRESH LIST
                    </button>
                </div>
                {{#if filtered}}
                    <div class="sixteen wide column">
                        <button {{action 'resetFilters'}} type="button" class="ui fluid red labeled icon button {{if resettingLoader 'loading'}}">
                            <i class="undo icon" />
                            RESET TO DEFAULT
                        </button>
                    </div>
                {{/if}}
                {{#if hasDatePickers}}
                    <div class="sixteen wide column">
                        <div class="ui fluid labeled icon input">
                            <div class="ui icon label">
                                FROM
                            </div>
                            {{ember-flatpickr
                                    date=(readonly fromDate)
                                    dateFormat=createdFromDatepickerOptions.format
                                    defaultDate=fromDate
                                    maxDate=createdFromDatepickerOptions.maxDate
                                    minDate=createdFromDatepickerOptions.minDate
                                    onChange=(action 'changeFromDate')
                                    placeholder='Choose a Date'
                            }}
                            {{sui-icon name=(if fromDateLoader 'notched circle loading' 'calendar alternate')}}
                        </div>
                    </div>
                    <div class="sixteen wide column">
                        <div class="ui fluid labeled icon input">
                            <div class="ui icon label">
                                TO
                            </div>
                            {{ember-flatpickr
                                    date=(readonly toDate)
                                    dateFormat=createdToDatepickerOptions.format
                                    defaultDate=toDate
                                    maxDate=createdToDatepickerOptions.maxDate
                                    minDate=createdToDatepickerOptions.minDate
                                    onChange=(action 'changeToDate')
                                    placeholder='Choose a Date'
                            }}
                            {{sui-icon name=(if toDateLoader 'notched circle loading' 'calendar alternate')}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}
{{#unless (media 'isDesktop')}}
    <div class="ui {{unless (media 'isDesktop') 'no-top-padding'}} {{unless (media 'isMobile') 'padded'}} equal width grid">
        {{#if hasFilters}}
            {{#unless (media 'isDesktop')}}
                <div class="column">
                    {{sui-button class="fluid yellow labeled icon" icon="filter" text=(if showFilters 'HIDE FILTERS' 'SHOW FILTERS') onClick=(action "showHideFilters")}}
                </div>
            {{/unless}}
        {{/if}}
        {{#if @hasFilterCheckbox}}
            <div class="sixteen wide column">
                <SuiFormField>
                  <Checkbox @label={{@filterCheckboxLabel}}
                            @checked={{@filterCheckboxVariable}}
                            @onChange={{action @filterCheckboxAction}} />
                </SuiFormField>
            </div>
        {{/if}}
    </div>
{{/unless}}
{{#if showFilters}}
    <div class="sixteen wide column">
        <div class="ui one column {{unless (media 'isDesktop') 'vertically padded' 'padded'}} grid">
            <div class="column">
                {{yield}}
            </div>
        </div>
    </div>
{{/if}}