{{#if @labelTop}}
    <div class="label">
        {{@label}}
    </div>
{{/if}}
<div class="{{if @textValue 'text' ''}} value">
    {{#if @icon}}
        {{sui-icon name=@value}}
    {{else if @loading}}
        {{#if @showValueWhileLoading}}{{@value}}{{/if}} <div class="ui small active inline loader"></div>
    {{else}}
        {{@value}}
    {{/if}}
</div>
{{#unless @labelTop}}
    <div class="label">
        {{@label}}
    </div>
{{/unless}}
